.main{
    color: #213213;
}
.title{
    
    padding: 1rem;
}
.mainContainer{
    max-width: 1400px;
    margin: 0 auto;

}

@media screen and (max-width: 800px) {

    .title{
        text-align: center;
    }
}

