.form{
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
}

.form > input, textarea{
    border: none;
    outline: none;
    padding: 1rem;
    border-bottom: 1px solid #000000bb;
}

.form label{
    font-size: 1.5rem;
}

.submitButton{
    margin-top: 1rem;
    align-self: center;
    padding: var(--buttonPadding);
    background-color: var(--buttonColor);
    border-radius: 10px;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    transition: color 0.3s, background-color 0.3s;
}
.submitButton:hover{
    color: var(--buttonColor);
    background-color: #fff;
}

.contactUs{
    padding: 1rem 0;
    text-align: center;
}