.blogItem{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

.blogContainer{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.blogButton{
    padding: 1rem;
    color: #fff;
    background: var(--buttonColor);
    border-radius: 10px;
    border: 0;
    transition: color 0.3s, background 0.3s;
}
.blogButton:hover{
    color: var(--buttonColor);
    background: #fff;
}

.blogImgContainer{
    height: 200px;
}

.blogImg{
    object-fit: cover;
    width: 100%;
}



@media screen and (max-width: 800px){
    .blogItem{
        grid-template-columns: 1fr !important;
        
    }
}